.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2.5rem;
}